@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body, html{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 8px;
}

header h1, header p {
    margin: 0px;
}

header p {
    color: gray;
}

.project {
    margin-top: 16px;
}

.project img {
    width: 100%;
    max-width: 1000px;
}

.project .img-mobile {
    max-width: 280px;
}

article img {
    width: 100%;
}

ul.links {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0px;
}

ul.links li {
    list-style-type: none;
    border: 1px solid lightgray;
    width: fit-content;
    border-radius: 8px;
    background-color: lightgray;
}

ul.links a {
    display: block;
    width: 100%;
    height: 100%;
    padding-block: 0.4rem;
    padding-inline: 2rem;
    color: rgb(40, 40, 40);
    text-decoration: none;
}

ul.links li:hover, ul.links li:focus-within {
    background-color: gray;
}

ul.links li:hover a, ul.links li:focus-within a {
    color: white;
}

.featured-work article h3 {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.featured-work .overlay {
    background-color: rgba(0.4, 0.4, 0.4, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.featured-work .overlay:hover {
    opacity: 0;
}

.featured-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px;
}

ul {
    padding-left: 32px;
}

.featured-work a {
    color: white;
}

.featured-work li {
    max-width: 512px;
    flex-grow: 1;
    list-style-type: none;
    padding: 0px;
    position: relative;
}