@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body, html{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3{
    text-align: center;
}

.caption{
    font-size: 14px;
    font-weight: 300;
}

.font-light{
    font-weight: 300;
}

.margin-top-small{
    margin-top: 5px;
}

.margin-top-none{
    margin-top: 0px;
}

.margin-bot-none{
    margin-bottom: 0px;
}

.link{
    text-decoration: underline;
    color: rgb(94, 94, 94);
}

.link:active{
    color: black;
}


@media screen and (min-width: 500px){
    p{
        width: 50%;
        margin: auto;
        margin-bottom: 15px;
    }

    .link{
        width: 50%;
        margin: auto;
        margin-top: 15px;
    }

    ul{
        width: 50%;
        margin: auto;
    }

    h4{
        width: 50%;
        margin: 15px auto;
    }
}