@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body, html{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
}

main {
    max-width: 700px;
}

header {
    width: 100%;
}

header h1, header p {
    margin: 0px;
}

header p {
    color: gray;
}

.project {
    margin-top: 16px;
}

.project img {
    width: 100%;
    max-width: 1000px;
}

.project .img-mobile {
    max-width: 280px;
}

article img {
    width: 100%;
}

ul.links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    padding: 0px;
}

ul.links li {
    list-style-type: none;
    /* border: 1px solid rgb(230, 230, 230); */
    border-radius: 8px;
}

ul.links a {
    display: block;
    width: 100%;
    height: 100%;
    padding-block: 0.4rem;
    padding-inline: 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(233, 233, 233);
    color: rgb(56, 56, 56);
    text-decoration: none;
    transition: 0.1s ease-in-out;
    box-shadow: 1px 1px 2px #696969;
}

ul.links li:hover a {
    transform: scale(1.02);
    transform-origin: center;
    color: rgb(20, 20, 20);
    background-color: #dcdcdc;
    box-shadow: 1px 2px 4px #727272;
}

.featured-work article h3 {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: rgb(32, 32, 32);
}

.featured-work .overlay {
    background-color: rgba(0, 0, 0, 0.104);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.featured-work .overlay:hover {
    opacity: 0;
}

.featured-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px;
}

ul {
    padding-left: 32px;
}

.featured-work a {
    color: white;
}

.featured-work li {
    max-width: 700px;
    flex-grow: 1;
    list-style-type: none;
    padding: 0px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    /* outline: 1px solid lightgray; */
    box-shadow: 2px 4px 4px gray;
}



/* ul.skills > ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
} */

@media screen and (min-width: 555px) {
    .links {
        justify-content: center;
    }

    .col-2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}